html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:white;
}

.display-4 {
    margin-bottom: 20px;
    font-size: 32px;
}

.inline-block {
    display: inline-block;
    margin-left: 10px; /* Optional: add some margin between the input field and the paragraph */
    margin-top: 20px;
}

#my-textbox-box {
}

.wrap{
    width:1180px;
    margin:10px auto;
}

.form-1 {
    background-color: white;
    font-size: 24px;
    margin-left: 0px;
    position: relative;
    float: left;
    margin-top: 20px;
    margin-right: 0px;
    width: 750px;
    height: 550px;
    align-content: center;
    margin-left: 0px;
    border: 1px solid gray;
    padding: 25px;
    border-radius: 10px;
}
.radio-label {
    font-size:18px;
    font-weight:bold;
    margin:0;

 
}
.Place {
    background-color: white;
    border-radius: 7.5px;
    width: 150px;
    font-size: 18px;
    border: 1px solid black;
    margin: 0 10px;
}
.price-div{
    margin-top:20px;
    display:block;
    font-size:16px;

    
}
.price-label {
    font-family:Verdana;
}
.txtbox-price{
    margin:3px;
    display: inline-block;
    margin-left:auto;
    border-radius: 7.5px;
    width: 75px;
    font-size: 16px;
    border: 1px solid black;
}

.box-sizes{
    margin-top:10px;
    padding:10px 0;
    font-size:15px;
    display:inline-block;
    width:430px;

}
.image{
    padding:0;
    margin-left:0px;
    margin-top:20px;
    width:100px;
    height: 100px;
    display:inline-block;
}
.box-size {
    margin:10px 2px;
    background-color: white;
    border-radius: 7.5px;
    width: 70px;
    font-size: 16px;
    border: 1px solid black;
    font-family:Verdana;
}
.box-size-text {
    font-size: 16px;
    margin: 0 auto;
    font-family: Verdana;
}
.div-radiobutton {
    text-align: center;
    width:500px;
}

.radiobutton {
    width: 75px; /* adjust this value to fit your design */
    margin: 0 auto;
    font-size: 14px;
}
.div-amount{
    margin:5px 0;
    font-size:16px;
    font-family:Verdana;
}
.txtbox-amount {
    font-size: 16px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 7.5px;
    width: 87px;
}
.div-year {
    font-size: 16px;
    font-family: Verdana;
}

.txtbox-year {
    font-size: 16px;
    width: 87px;
    margin-top: 5px;
    font-size: 16px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 7.5px;
}
.div-frequency {
    font-size: 16px;
    font-family:Verdana;
}

.txtbox-frequency {
    font-size: 16px;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 6px;
    border: 1px solid black;
    border-radius: 7.5px;
    width: 55px;
}
.div-button{

    margin:50px auto;
    width:610px;
}
.calc-button {
    margin-top:10px;
    width: 300px;
    height: 45px;
    border-radius: 7.5px;
    background-color: white; 
    border: 1px solid black;
    font-size: 14px;
    
}

   .calc-button:hover {
        background-color: lightgray; /* butona mouse imlecini getirdiðinizde deðiþecek arka plan rengini buradan belirtebilirsiniz */
        cursor: pointer;
    }
.form-2 {
    background-color: white;
    float: right;
    margin-top: 10px;
    height: 550px;
    width: 400px;
    margin-left: 0px; /* Boþluðu sýfýra ayarlar */
    border: 1px solid gray;
    padding: 50px 5px;
    border-radius: 10px;
}
.title{
    font-family:Verdana;
    margin-bottom:30px;
    margin-left:0;
    margin-right:0;
}
.h1 {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px; /* Need a specific value to work */
}
.results-label {
    padding:2px 5px;
    width: 265px;
    border: 1px solid black;
    height: 35px;
    border-radius: 7.5px;
    font-size:16px;
    font-family:Verdana;
}
.results {
    width: 75px;
    border: 1px solid black;
    height: 35px;
    border-radius: 7.5px;
    font-size: 16px;
    font-family: Verdana;
}
.explanetation{
    font-family:Verdana;
    font-size:14px;
    height:50px;
    width:300px;
    margin-top:20px;
}

